/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)  {
    /* Styles */
    .container {
        flex-direction: column !important;
    }
    .leftColumn {
        height: 230px;
        width: 400px;
        margin-bottom: 1%;
    }
    .mainContainer {
        height: 50px;
        width: 400px;
        margin-top: 1%;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
}


/* Tablets, iPads (portrait and landscape) ----------- */


/*
@media only screen and (min-device-width: 1024px) and (max-device-width: 1223px) {
    .mainContainer {
        height: 395px;
        width: 700px;
    }
    .leftColumn {
        height: 395px;
        width: 198px;
    }
}*/


/* Tablets, iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
    .mainContainer {
        height: 395px;
        width: 500px;
        margin-left: 1%;
    }
    .leftColumn {
        height: 395px;
        width: 150px;
        margin-right: 1%;
    }
}


/* Tablets, iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
    .container {
        flex-direction: column !important;
    }
    .mainContainer {
        height: 900px;
        width: 700px;
    }
    .leftColumn {
        height: 70px;
        width: 700px;
    }
}


/* Desktops and laptops ----------- */


/* 1024x600, 1024x786*/

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    /* Styles */
    /*Styles used for main content container*/
    .mainContainer {
        height: 495px;
        width: 700px;
        margin-left: 1%;
    }
    .leftColumn {
        height: 495px;
        width: 198px;
        margin-right: 1%;
    }
}


/* 1280x800, 1366x768 */

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    /* Styles */
    /*Styles used for main content container*/
    .mainContainer {
        height: 495px;
        width: 900px;
        margin-left: 1%;
    }
    .leftColumn {
        height: 495px;
        width: 220px;
        margin-right: 1%;
    }
}

@media only screen and (min-width: 1440px) {
    /* Styles */
    /*Styles used for main content container*/
    .mainContainer {
        height: 495px;
        width: 1000px;
        margin-left: 1%;
    }
    .leftColumn {
        height: 495px;
        width: 250px;
        margin-right: 1%;
    }
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
    .mainContainer {
        height: 900px;
        width: 2000px;
        margin-left: 1%;
    }
    .leftColumn {
        height: 900px;
        width: 400px;
        margin-right: 1%;
    }
}


/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* here come styles from mobile-retina.css */
}


/* End main CSS file */


/*Styles used for body*/

.container {
    display: flex;
    background-color: #E8E8E8;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: url(../../images/Layer_0.svg) no-repeat center fixed;
    background-size: cover;
}


/*Styles used for left column*/

.leftColumn {
    background: #201931;
}

.introBg {
    background-color: #FF8181;
}
